.btn {
  transition-duration: 0.45s;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid #db0011;
  color: #db0011;
  background: none;
  &:hover {
    transition-duration: 0.7s;

    background: #db0011;
    color: #fff;
  }
}
